In [5]:
import pandas as pd 
import numpy as np 
import xlrd 
import sklearn

In [6]:
clinc_table1 = pd.read_csv('../data/processed/process_clin_1.csv')
clinc_table2 = pd.read_csv('../data/processed/process_clin_2.csv')
clinc_table3 = pd.read_csv('../data/processed/process_clin_1_and_2.csv')

# gene_table = pd.read_csv('../data/processed/process_gene_pathway_can100_66.csv')
# gene_table = pd.read_csv('../data/processed/process_gene_pathway_dise100_66.csv')
gene_table1 = pd.read_csv('../data/processed/process_gene_single_P1.csv')
gene_table2 = pd.read_csv('../data/processed/process_gene_single_P2.csv')

In [13]:
# lip_table_specie = pd.read_csv('../data/processed/process_lip_group_binary_v1.csv')
# lip_table_specie = pd.read_csv('../data/processed/process_lip_group_binary_v2.csv')
# lip_table_specie = pd.read_csv('../data/processed/process_lip_group_v3.csv')
lip_table_specie_binary = pd.read_csv('../data/processed/process_lip_specie_binary_single_P1_P2_sig.csv')
lip_table_specie_binary_standard = pd.read_csv('../data/processed/process_lip_specie_standard_binary_single_P1_P2_sig.csv')
lip_table_specie_continues = pd.read_csv('../data/processed/process_lip_specie_cont_single_P1_P2_sig.csv')

# lip_table_total = pd.read_csv('../data/processed/process_lip_total_binary_single.csv')

In [14]:
lip_table_specie_continues

,Patient_ID,lip_P2_Sph_Sph(d16:1),lip_P2_Sph_Sph(d18:1),lip_P2_Sph_Sph(d18:2),lip_P1_Cer_Cer(d16:1/16:0),lip_P2_Cer_Cer(d16:1/16:0),lip_P1_Cer_Cer(d16:1/18:0),lip_P2_Cer_Cer(d16:1/18:0),lip_P1_Cer_Cer(d16:1/20:0),lip_P2_Cer_Cer(d16:1/20:0),...,lip_P1_TG(O) [NL]_TG(O-52:2) [NL-16:0],lip_P1_TG(O) [NL]_TG(O-52:2) [NL-17:1],lip_P1_TG(O) [NL]_TG(O-52:2) [NL-18:1],lip_P1_TG(O) [NL]_TG(O-54:2) [NL-17:1],lip_P1_TG(O) [NL]_TG(O-54:2) [NL-18:1],lip_P1_TG(O) [NL]_TG(O-54:3) [NL-17:1],lip_P1_TG(O) [NL]_TG(O-54:3) [NL-18:1],lip_P1_TG(O) [NL]_TG(O-54:4) [NL-17:1],lip_P1_TG(O) [NL]_TG(O-54:4) [NL-18:2],lip_signature
0,1001,0.495112,0.054354,0.216575,0.294450,0.294450,0.305661,0.305661,0.181769,0.181769,...,0.073178,0.097921,0.092968,0.058154,0.058486,0.064083,0.091286,0.057364,0.170173,0.291482
1,1010,0.400186,0.137942,0.276835,0.240365,0.240365,0.223917,0.223917,0.171905,0.171905,...,0.052621,0.073240,0.113669,0.059007,0.041537,0.044645,0.079611,0.020748,0.109859,0.261832
2,1019,0.368722,0.155415,0.169811,0.174938,0.174938,0.135445,0.135445,0.144821,0.144821,...,0.068379,0.087477,0.067291,0.045787,0.044786,0.063729,0.086322,0.109468,0.363641,0.186702
3,1028,0.213523,0.103455,0.163318,0.212065,0.212065,0.166905,0.166905,0.082406,0.082406,...,0.020997,0.021701,0.029004,0.012158,0.011367,0.016312,0.032278,0.010190,0.059356,0.134988
4,1037,0.241833,0.121882,0.226665,0.320932,0.320932,0.334240,0.334240,0.265990,0.265990,...,0.089657,0.123884,0.103111,0.073940,0.071691,0.067329,0.066803,0.036448,0.082580,0.308613
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
802,2395,0.350010,0.037216,0.130594,0.149554,0.149554,0.166975,0.166975,0.088372,0.088372,...,0.061499,0.038216,0.046612,0.044319,0.036906,0.032707,0.065225,0.022539,0.144121,0.189338
803,2412,0.608675,0.160250,0.327372,0.425594,0.425594,0.332021,0.332021,0.282406,0.282406,...,0.055032,0.074486,0.088612,0.060654,0.078983,0.089459,0.073796,0.103588,0.081468,0.310620
804,2429,0.341628,0.086636,0.218512,0.304081,0.304081,0.244213,0.244213,0.219390,0.219390,...,0.050136,0.050389,0.075450,0.036494,0.056994,0.075550,0.074167,0.047676,0.078162,0.209158
805,2456,0.419137,0.141534,0.113275,0.200173,0.200173,0.420504,0.420504,0.274377,0.274377,...,0.149058,0.200696,0.265532,0.118484,0.160342,0.111181,0.161699,0.148844,0.178869,0.473938
806,2493,0.324196,0.107756,0.277488,0.295273,0.295273,0.278318,0.278318,0.156337,0.156337,...,0.043311,0.027548,0.046451,0.023322,0.038282,0.033852,0.053861,0.016316,0.161035,0.240483

In [35]:
P1_lip_names_cont =   [item for item in list(lip_table_specie_continues) if 'P1' in item]
P1_lip_names_binary = [item for item in list(lip_table_specie_binary) if 'P1' in item]
P1_lip_names_binary_standard = [item for item in list(lip_table_specie_binary_standard) if 'P1' in item]

P2_lip_names_cont =   [item for item in list(lip_table_specie_continues) if 'P2' in item]
P2_lip_names_binary = [item for item in list(lip_table_specie_binary) if 'P2' in item]
P2_lip_names_binary_standard = [item for item in list(lip_table_specie_binary_standard) if 'P2' in item]
# Cer 
P1_Cer_names = [item for item in P1_lip_names_cont if 'Cer' in item]
P2_Cer_names = [item for item in P2_lip_names_cont if 'Cer' in item]

print('num pf lip in P1: %d  num pf lip in P2:%d'%(len(P1_lip_names_cont),len(P2_lip_names_cont)))

num pf lip in P1: 228  num pf lip in P2:78

In [32]:
for i in range(20):
    print(P1_Cer_names[i],P2_Cer_names[i])

lip_P1_Cer_Cer(d16:1/16:0) lip_P2_Cer_Cer(d16:1/16:0)
lip_P1_Cer_Cer(d16:1/18:0) lip_P2_Cer_Cer(d16:1/18:0)
lip_P1_Cer_Cer(d16:1/20:0) lip_P2_Cer_Cer(d16:1/20:0)
lip_P1_Cer_Cer(d16:1/22:0) lip_P2_Cer_Cer(d16:1/22:0)
lip_P1_Cer_Cer(d16:1/23:0) lip_P2_Cer_Cer(d16:1/23:0)
lip_P1_Cer_Cer(d16:1/24:0) lip_P2_Cer_Cer(d16:1/24:0)
lip_P1_Cer_Cer(d16:1/24:1) lip_P2_Cer_Cer(d16:1/24:1)
lip_P1_Cer_Cer(d17:1/16:0) lip_P2_Cer_Cer(d17:1/16:0)
lip_P1_Cer_Cer(d17:1/18:0) lip_P2_Cer_Cer(d17:1/18:0)
lip_P1_Cer_Cer(d17:1/20:0) lip_P2_Cer_Cer(d17:1/20:0)
lip_P1_Cer_Cer(d17:1/22:0) lip_P2_Cer_Cer(d17:1/22:0)
lip_P1_Cer_Cer(d17:1/23:0) lip_P2_Cer_Cer(d17:1/23:0)
lip_P1_Cer_Cer(d17:1/24:0) lip_P2_Cer_Cer(d17:1/24:0)
lip_P1_Cer_Cer(d17:1/24:1) lip_P2_Cer_Cer(d17:1/24:1)
lip_P1_Cer_Cer(d18:1/14:0) lip_P2_Cer_Cer(d18:1/14:0)
lip_P1_Cer_Cer(d18:1/16:0) lip_P2_Cer_Cer(d18:1/16:0)
lip_P1_Cer_Cer(d18:1/17:0) lip_P2_Cer_Cer(d18:1/17:0)
lip_P1_Cer_Cer(d18:1/18:0) lip_P2_Cer_Cer(d18:1/18:0)
lip_P1_Cer_Cer(d18:1/19:0) lip_P2_Cer_Cer(d18:1/19:0)
lip_P1_Cer_Cer(d18:1/20:0) lip_P2_Cer_Cer(d18:1/20:0)

In [5]:
gene_table1 # # num of gene feature: 3

,Patient_ID,gene_P1_ATM_SNP,gene_P1_BRCA1_SNP,gene_P1_BRCA2_SNP,gene_P1_CHEK2_SNP
0,1001,0,0,0,0
1,1003,0,0,1,0
2,1004,0,0,0,0
3,1005,0,0,0,0
4,1006,0,0,0,0
...,...,...,...,...,...
274,1529,0,0,0,0
275,1530,0,0,0,0
276,1531,0,0,0,0
277,1534,0,0,0,0
278,1535,0,0,0,0

In [28]:
# drop the duplicate term, only use the first one
gene_table1= gene_table1.drop_duplicates(subset=['Patient_ID'],keep='first')
print('# duplicate gene samples of P1 is',len(set(gene_table1['Patient_ID']))-len((gene_table1['Patient_ID'])))

gene_table2= gene_table2.drop_duplicates(subset=['Patient_ID'],keep='first')
print('# duplicate gene samples of P2 is',len(set(gene_table2['Patient_ID']))-len((gene_table2['Patient_ID'])))

# duplicate gene samples of P1 is 0
# duplicate gene samples of P2 is 0

In [26]:
# not use clic feafures

# samples at point1: normalize the clinic numerical features, except the time_gap, live/death label temporaly, we will add them at the end of merged all future
# clinc_table1_new = pd.DataFrame()

# clinc_table1_new['Patient_ID'] = clinc_table1['Patient_ID']
# num_feature_list = ['sdms psa at sample 1','sdms ldh at sample 1','BMI at time of collection']

# for name in num_feature_list:
#     df = clinc_table1[name]
#     clinc_table1_new['clin_' + name] = (df-df.min())/(df.max()-df.min())
# clinc_table1_new

# number of numerical features for samples at point3&4: 5

In [29]:
# targets for samples at point1:
clinc_target_1 = pd.DataFrame()

clinc_target_1['Patient_ID'] = clinc_table1['Patient_ID']
num_feature_list = ['ADT_start_fail','ADT_fail_relaspe','ADT_start_death','1= death; 0=alive','gap_death_consent','gap_surv_time_class','ADT_if_fail']

for name in num_feature_list:
    clinc_target_1[name] = clinc_table1[name]

clinc_target_1

,Patient_ID,ADT_start_fail,ADT_fail_relaspe,ADT_start_death,1= death; 0=alive,gap_death_consent,gap_surv_time_class,ADT_if_fail
0,1015,NaN,NaN,3039.0,0.0,3053,1,0
1,1027,NaN,NaN,959.0,1.0,959,0,0
2,1028,1734.0,54.0,3208.0,1.0,3219,1,2
3,1040,NaN,NaN,2323.0,0.0,2323,1,0
4,1048,897.0,67.0,2035.0,1.0,2073,2,2
...,...,...,...,...,...,...,...,...
94,1528,NaN,NaN,1472.0,1.0,1466,2,0
95,1530,NaN,NaN,34.0,0.0,1,0,0
96,1531,NaN,NaN,141.0,0.0,174,0,0
97,1532,NaN,NaN,1524.0,0.0,1694,2,0
98,1533,322.0,NaN,957.0,1.0,957,0,2

In [28]:
# do nit use clic features

# # samples at point3&4: normalize the clinic numerical features, except the time_gap, live/death label temporaly, we will add them at the end of merged all future
# clinc_table2_new = pd.DataFrame()

# clinc_table2_new['Patient_ID'] = clinc_table2['Patient_ID']
# num_feature_list =  ['sdms psa at sample 1','sdms ldh at sample 1','sdms alk phos at sample 1','BMI at time of collection','Gleason Score at diagnosis']

# for name in num_feature_list:
#     df = clinc_table2[name]
#     clinc_table2_new['clin_' + name] = (df-df.min())/(df.max()-df.min())
# clinc_table2_new

# number of numerical features for samples at point3&4: 7

In [30]:
# targets for samples at point3%4:
clinc_target_2 = pd.DataFrame()

clinc_target_2['Patient_ID'] = clinc_table2['Patient_ID']
num_feature_list = ['gap_death_consent','1= death; 0=alive','gap_surv_time_class']

for name in num_feature_list:
    clinc_target_2[name] = clinc_table2[name]

clinc_target_2

     Patient_ID  gap_death_consent  1= death; 0=alive  gap_surv_time_class
0          1001               2062                1.0                    1
1          1002                524                1.0                    0
2          1003                208                1.0                    0
3          1004               2390                1.0                    1
4          1005                286                1.0                    0
..          ...                ...                ...                  ...
245        1517                145                1.0                    0
246        1519                752                1.0                    2
247        1520               1341                1.0                    2
248        1524               1694                0.0                    1
249        1525                  8                0.0                    0

[250 rows x 4 columns]

In [9]:
lip_table_specie_continues.shape # num of lip_group feature: 308(binary), 614(continues)

(807, 308)

In [10]:
lip_table_specie_binary.shape # num of lip_group feature: 308(binary), 614(continues)

(807, 614)

In [38]:
# full-feature-data 2: point1_gene + lip_specie_binary

P1_lip_names_binary_add = ['Patient_ID','lip_signature']+P1_lip_names_binary 
P1_lip_table_specie_binary = lip_table_specie_binary[P1_lip_names_binary_add]

merge_key = 'Patient_ID'
new1 = pd.merge(P1_lip_table_specie_binary,gene_table1,on = merge_key)
# new2 = pd.merge(new1, clinc_table1_new,on = merge_key)
p1_spicie_binary_single = pd.merge(new1, clinc_target_1,on = merge_key)

print('overlapping patients:',-len(set(p1_spicie_binary_single['Patient_ID']))+len((p1_spicie_binary_single['Patient_ID'])))



# new3.to_csv('../data/processed/all_feature_p1_lip_specie_single.csv',index=False)
p1_spicie_binary_single.to_csv('../data/processed/all_feature_p1_spicie_binary_single.csv',index=False)

p1_spicie_binary_single

overlapping patients: 0

,Patient_ID,lip_signature,lip_P1_Cer_Cer(d16:1/16:0)_high,lip_P1_Cer_Cer(d16:1/16:0)_low,lip_P1_Cer_Cer(d16:1/18:0)_high,lip_P1_Cer_Cer(d16:1/18:0)_low,lip_P1_Cer_Cer(d16:1/20:0)_high,lip_P1_Cer_Cer(d16:1/20:0)_low,lip_P1_Cer_Cer(d16:1/22:0)_high,lip_P1_Cer_Cer(d16:1/22:0)_low,...,gene_P1_BRCA1_SNP,gene_P1_BRCA2_SNP,gene_P1_CHEK2_SNP,ADT_start_fail,ADT_fail_relaspe,ADT_start_death,1= death; 0=alive,gap_death_consent,gap_surv_time_class,ADT_if_fail
0,1028,1,0,1,0,1,0,1,0,1,...,0,0,0,1734.0,54.0,3208.0,1.0,3219,1,2
1,1066,1,1,0,0,1,0,1,0,1,...,0,0,0,NaN,NaN,NaN,0.0,2464,1,0
2,1040,1,0,1,1,0,1,0,0,1,...,0,1,0,NaN,NaN,2323.0,0.0,2323,1,0
3,1058,1,0,1,0,1,0,1,0,1,...,0,0,1,318.0,0.0,581.0,1.0,581,0,2
4,1059,0,0,1,0,1,0,1,0,1,...,0,0,0,NaN,NaN,2608.0,0.0,2608,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66,1530,0,1,0,1,0,1,0,1,0,...,0,0,0,NaN,NaN,34.0,0.0,1,0,0
67,1531,1,0,1,0,1,0,1,0,1,...,0,0,0,NaN,NaN,141.0,0.0,174,0,0
68,1522,0,1,0,1,0,1,0,1,0,...,0,0,0,NaN,NaN,3750.0,1.0,706,0,0
69,1514,1,0,1,0,1,0,1,0,1,...,0,0,0,2355.0,NaN,3453.0,1.0,1098,0,2
70,1497,0,0,1,1,0,0,1,1,0,...,0,0,0,NaN,NaN,911.0,1.0,911,0,0

In [40]:
# full-feature-data 2: point1_gene + lip_specie_binary_standard

P1_lip_names_binary_standard_add = ['Patient_ID','lip_signature']+P1_lip_names_binary_standard
P1_lip_table_specie_binary_standard = lip_table_specie_binary_standard[P1_lip_names_binary_standard_add]

merge_key = 'Patient_ID'
new1 = pd.merge(P1_lip_table_specie_binary_standard,gene_table1,on = merge_key)
# new2 = pd.merge(new1, clinc_table1_new,on = merge_key)
p1_spicie_binary_standard_single = pd.merge(new1, clinc_target_1,on = merge_key)

print('overlapping patients:',-len(set(p1_spicie_binary_standard_single['Patient_ID']))+len((p1_spicie_binary_standard_single['Patient_ID'])))



# new3.to_csv('../data/processed/all_feature_p1_lip_specie_single.csv',index=False)
p1_spicie_binary_standard_single.to_csv('../data/processed/all_feature_p1_spicie_binary_standard_single.csv',index=False)

p1_spicie_binary_standard_single

overlapping patients: 0

,Patient_ID,lip_signature,lip_P1_Cer_Cer(d16:1/16:0),lip_P1_Cer_Cer(d16:1/18:0),lip_P1_Cer_Cer(d16:1/20:0),lip_P1_Cer_Cer(d16:1/22:0),lip_P1_Cer_Cer(d16:1/23:0),lip_P1_Cer_Cer(d16:1/24:0),lip_P1_Cer_Cer(d16:1/24:1),lip_P1_Cer_Cer(d17:1/16:0),...,gene_P1_BRCA1_SNP,gene_P1_BRCA2_SNP,gene_P1_CHEK2_SNP,ADT_start_fail,ADT_fail_relaspe,ADT_start_death,1= death; 0=alive,gap_death_consent,gap_surv_time_class,ADT_if_fail
0,1028,0,0,0,0,0,0,0,0,0,...,0,0,0,1734.0,54.0,3208.0,1.0,3219,1,2
1,1066,0,1,0,0,0,0,0,0,1,...,0,0,0,NaN,NaN,NaN,0.0,2464,1,0
2,1040,0,0,1,1,0,0,0,0,1,...,0,1,0,NaN,NaN,2323.0,0.0,2323,1,0
3,1058,0,0,0,0,0,0,0,0,0,...,0,0,1,318.0,0.0,581.0,1.0,581,0,2
4,1059,1,0,0,0,0,0,0,0,0,...,0,0,0,NaN,NaN,2608.0,0.0,2608,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66,1530,1,1,1,1,1,1,1,1,1,...,0,0,0,NaN,NaN,34.0,0.0,1,0,0
67,1531,0,0,0,0,0,0,0,0,1,...,0,0,0,NaN,NaN,141.0,0.0,174,0,0
68,1522,1,1,1,1,1,1,1,1,1,...,0,0,0,NaN,NaN,3750.0,1.0,706,0,0
69,1514,0,0,0,0,0,0,0,0,0,...,0,0,0,2355.0,NaN,3453.0,1.0,1098,0,2
70,1497,1,0,1,0,1,1,1,1,0,...,0,0,0,NaN,NaN,911.0,1.0,911,0,0

In [39]:
# full-feature-data : point1_gene + lip_specie_continues


P1_lip_names_cont_add = ['Patient_ID','lip_signature']+P1_lip_names_cont
P1_lip_table_specie_cont = lip_table_specie_continues[P1_lip_names_cont_add]


merge_key = 'Patient_ID'
new1 = pd.merge(P1_lip_table_specie_cont,gene_table1,on = merge_key)
# new2 = pd.merge(new1, clinc_table1_new,on = merge_key)
p1_spicie_cont_single = pd.merge(new1, clinc_target_1,on = merge_key)

print('overlapping patients:',-len(set(p1_spicie_cont_single['Patient_ID']))+len((p1_spicie_cont_single['Patient_ID'])))

# new3.to_csv('../data/processed/all_feature_p1_lip_specie_single.csv',index=False)
p1_spicie_cont_single.to_csv('../data/processed/all_feature_p1_spicie_cont_single.csv',index=False)

p1_spicie_cont_single

overlapping patients: 0

,Patient_ID,lip_signature,lip_P1_Cer_Cer(d16:1/16:0),lip_P1_Cer_Cer(d16:1/18:0),lip_P1_Cer_Cer(d16:1/20:0),lip_P1_Cer_Cer(d16:1/22:0),lip_P1_Cer_Cer(d16:1/23:0),lip_P1_Cer_Cer(d16:1/24:0),lip_P1_Cer_Cer(d16:1/24:1),lip_P1_Cer_Cer(d17:1/16:0),...,gene_P1_BRCA1_SNP,gene_P1_BRCA2_SNP,gene_P1_CHEK2_SNP,ADT_start_fail,ADT_fail_relaspe,ADT_start_death,1= death; 0=alive,gap_death_consent,gap_surv_time_class,ADT_if_fail
0,1028,0.134988,0.212065,0.166905,0.082406,0.049800,0.059225,0.050181,0.078814,0.140505,...,0,0,0,1734.0,54.0,3208.0,1.0,3219,1,2
1,1066,0.168167,0.303934,0.226785,0.117198,0.089095,0.099060,0.102699,0.116432,0.261179,...,0,0,0,NaN,NaN,NaN,0.0,2464,1,0
2,1040,0.197579,0.264274,0.238348,0.184153,0.114393,0.141067,0.107623,0.156228,0.262588,...,0,1,0,NaN,NaN,2323.0,0.0,2323,1,0
3,1058,0.180809,0.245078,0.197306,0.094201,0.037834,0.044466,0.042981,0.085852,0.149511,...,0,0,1,318.0,0.0,581.0,1.0,581,0,2
4,1059,0.257330,0.186032,0.129798,0.090999,0.069946,0.125091,0.082340,0.118335,0.167238,...,0,0,0,NaN,NaN,2608.0,0.0,2608,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66,1530,0.400443,0.291846,0.296924,0.258115,0.179727,0.204452,0.261551,0.231612,0.377107,...,0,0,0,NaN,NaN,34.0,0.0,1,0,0
67,1531,0.192393,0.259709,0.124592,0.125189,0.095823,0.087893,0.094812,0.106519,0.294025,...,0,0,0,NaN,NaN,141.0,0.0,174,0,0
68,1522,0.408307,0.477925,0.346937,0.291926,0.200932,0.199157,0.175055,0.264476,0.312766,...,0,0,0,NaN,NaN,3750.0,1.0,706,0,0
69,1514,0.163527,0.203830,0.121254,0.061686,0.040096,0.047512,0.046282,0.077822,0.157306,...,0,0,0,2355.0,NaN,3453.0,1.0,1098,0,2
70,1497,0.266942,0.277384,0.234204,0.172379,0.163232,0.161657,0.166585,0.198001,0.181772,...,0,0,0,NaN,NaN,911.0,1.0,911,0,0

In [41]:
# full-feature-data : point2_gene + lip_specie_binary


P2_lip_names_binary_add = ['Patient_ID','lip_signature']+P2_lip_names_binary
P2_lip_table_specie_binary = lip_table_specie_binary[P2_lip_names_binary_add]


merge_key = 'Patient_ID'
new1 = pd.merge(P2_lip_table_specie_binary,gene_table2,on = merge_key)
# new2 = pd.merge(new1, clinc_table1_new,on = merge_key)
p2_spicie_binary_single = pd.merge(new1, clinc_target_2,on = merge_key)

print('overlapping patients:',-len(set(p2_spicie_binary_single['Patient_ID']))+len((p2_spicie_binary_single['Patient_ID'])))

# new3.to_csv('../data/processed/all_feature_p1_lip_specie_single.csv',index=False)
p2_spicie_binary_single.to_csv('../data/processed/all_feature_p2_spicie_binary_single.csv',index=False)

p2_spicie_binary_single

overlapping patients: 0

,Patient_ID,lip_signature,lip_P2_Sph_Sph(d16:1)_high,lip_P2_Sph_Sph(d16:1)_low,lip_P2_Sph_Sph(d18:1)_high,lip_P2_Sph_Sph(d18:1)_low,lip_P2_Sph_Sph(d18:2)_high,lip_P2_Sph_Sph(d18:2)_low,lip_P2_Cer_Cer(d16:1/16:0)_high,lip_P2_Cer_Cer(d16:1/16:0)_low,...,lip_P2_Acylcarnitine_AC(18:1)_high,lip_P2_Acylcarnitine_AC(18:1)_low,lip_P2_Acylcarnitine_AC(18:2)_high,lip_P2_Acylcarnitine_AC(18:2)_low,gene_P2_AR_Amp,gene_P2_RB1_Del,gene_P2_TP53_SNP,gap_death_consent,1= death; 0=alive,gap_surv_time_class
0,1001,0,1,0,0,1,0,1,1,0,...,1,0,1,0,0,0,0,2062,1.0,1
1,1010,0,1,0,1,0,1,0,0,1,...,1,0,1,0,1,0,1,655,1.0,2
2,1019,1,1,0,1,0,0,1,0,1,...,0,1,1,0,0,0,0,542,1.0,0
3,1046,0,0,1,0,1,0,1,1,0,...,1,0,1,0,0,1,1,477,1.0,0
4,1011,1,0,1,0,1,1,0,1,0,...,0,1,0,1,0,0,1,1418,1.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,1495,1,1,0,1,0,0,1,1,0,...,0,1,0,1,0,0,0,1289,1.0,2
140,1496,0,1,0,1,0,0,1,1,0,...,0,1,0,1,0,0,1,1249,1.0,2
141,1505,1,1,0,0,1,1,0,0,1,...,0,1,0,1,0,0,0,2150,0.0,1
142,1506,1,0,1,0,1,0,1,0,1,...,1,0,1,0,0,1,1,99,1.0,0
143,1524,0,1,0,1,0,1,0,0,1,...,0,1,1,0,0,0,0,1694,0.0,1

In [42]:
# full-feature-data : point2_gene + lip_specie_binary_standard


P2_lip_names_binary_standard_add = ['Patient_ID','lip_signature']+P2_lip_names_binary_standard
P2_lip_table_specie_binary_standard = lip_table_specie_binary_standard[P2_lip_names_binary_standard_add]


merge_key = 'Patient_ID'
new1 = pd.merge(P2_lip_table_specie_binary_standard,gene_table2,on = merge_key)
# new2 = pd.merge(new1, clinc_table1_new,on = merge_key)
p2_spicie_binary_standard_single = pd.merge(new1, clinc_target_2,on = merge_key)

print('overlapping patients:',-len(set(p2_spicie_binary_standard_single['Patient_ID']))+len((p2_spicie_binary_standard_single['Patient_ID'])))

# new3.to_csv('../data/processed/all_feature_p1_lip_specie_single.csv',index=False)
p2_spicie_binary_standard_single.to_csv('../data/processed/all_feature_p2_spicie_binary_standard_single.csv',index=False)

p2_spicie_binary_standard_single

overlapping patients: 0

,Patient_ID,lip_signature,lip_P2_Sph_Sph(d16:1),lip_P2_Sph_Sph(d18:1),lip_P2_Sph_Sph(d18:2),lip_P2_Cer_Cer(d16:1/16:0),lip_P2_Cer_Cer(d16:1/18:0),lip_P2_Cer_Cer(d16:1/20:0),lip_P2_Cer_Cer(d16:1/22:0),lip_P2_Cer_Cer(d16:1/23:0),...,lip_P2_Acylcarnitine_AC(17:0) (b),lip_P2_Acylcarnitine_AC(18:0),lip_P2_Acylcarnitine_AC(18:1),lip_P2_Acylcarnitine_AC(18:2),gene_P2_AR_Amp,gene_P2_RB1_Del,gene_P2_TP53_SNP,gap_death_consent,1= death; 0=alive,gap_surv_time_class
0,1001,1,1,0,0,1,1,1,0,0,...,1,1,1,1,0,0,0,2062,1.0,1
1,1010,1,1,1,1,0,0,0,0,0,...,1,0,1,1,1,0,1,655,1.0,2
2,1019,0,1,1,0,0,0,0,0,1,...,0,0,0,1,0,0,0,542,1.0,0
3,1046,1,0,0,0,1,1,1,1,1,...,1,1,1,1,0,1,1,477,1.0,0
4,1011,0,0,0,1,1,1,1,1,1,...,1,0,0,0,0,0,1,1418,1.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,1495,0,1,1,0,1,1,1,1,1,...,1,0,0,0,0,0,0,1289,1.0,2
140,1496,1,1,1,0,1,0,0,0,0,...,0,0,0,0,0,0,1,1249,1.0,2
141,1505,0,1,0,1,0,1,0,0,1,...,0,0,0,0,0,0,0,2150,0.0,1
142,1506,0,0,0,0,0,0,0,0,0,...,1,1,1,1,0,1,1,99,1.0,0
143,1524,1,1,1,1,0,1,0,0,0,...,1,1,0,1,0,0,0,1694,0.0,1

In [43]:
# full-feature-data : point2_gene + lip_specie_continues

P2_lip_names_cont_add = ['Patient_ID','lip_signature']+P2_lip_names_cont
P2_lip_table_specie_cont = lip_table_specie_continues[P2_lip_names_cont_add]

merge_key = 'Patient_ID'
new1 = pd.merge(P2_lip_table_specie_cont,gene_table2,on = merge_key)
# new2 = pd.merge(new1, clinc_table1_new,on = merge_key)
p2_spicie_cont_single = pd.merge(new1, clinc_target_2,on = merge_key)

print('overlapping patients:',-len(set(p2_spicie_cont_single['Patient_ID']))+len((p2_spicie_cont_single['Patient_ID'])))



# new3.to_csv('../data/processed/all_feature_p1_lip_specie_single.csv',index=False)
p2_spicie_cont_single.to_csv('../data/processed/all_feature_p2_spicie_cont_single.csv',index=False)

p2_spicie_cont_single

overlapping patients: 0

,Patient_ID,lip_signature,lip_P2_Sph_Sph(d16:1),lip_P2_Sph_Sph(d18:1),lip_P2_Sph_Sph(d18:2),lip_P2_Cer_Cer(d16:1/16:0),lip_P2_Cer_Cer(d16:1/18:0),lip_P2_Cer_Cer(d16:1/20:0),lip_P2_Cer_Cer(d16:1/22:0),lip_P2_Cer_Cer(d16:1/23:0),...,lip_P2_Acylcarnitine_AC(17:0) (b),lip_P2_Acylcarnitine_AC(18:0),lip_P2_Acylcarnitine_AC(18:1),lip_P2_Acylcarnitine_AC(18:2),gene_P2_AR_Amp,gene_P2_RB1_Del,gene_P2_TP53_SNP,gap_death_consent,1= death; 0=alive,gap_surv_time_class
0,1001,0.291482,0.495112,0.054354,0.216575,0.294450,0.305661,0.181769,0.103452,0.128342,...,0.042131,0.070868,0.130856,0.229249,0,0,0,2062,1.0,1
1,1010,0.261832,0.400186,0.137942,0.276835,0.240365,0.223917,0.171905,0.086678,0.084921,...,0.039132,0.040129,0.107063,0.187214,1,0,1,655,1.0,2
2,1019,0.186702,0.368722,0.155415,0.169811,0.174938,0.135445,0.144821,0.109325,0.175051,...,0.030350,0.037050,0.048729,0.151011,0,0,0,542,1.0,0
3,1046,0.340631,0.269143,0.078977,0.222303,0.327287,0.319015,0.226542,0.138352,0.213211,...,0.035227,0.051628,0.084821,0.138424,0,1,1,477,1.0,0
4,1011,0.162088,0.216670,0.047586,0.258964,0.441193,0.345246,0.271135,0.211726,0.216555,...,0.035703,0.044560,0.057253,0.100373,0,0,1,1418,1.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,1495,0.206957,0.419702,0.159182,0.187797,0.408117,0.410168,0.285887,0.148669,0.213291,...,0.036433,0.036188,0.064941,0.087913,0,0,0,1289,1.0,2
140,1496,0.259028,0.420144,0.184309,0.177121,0.316179,0.166595,0.104448,0.081735,0.104149,...,0.033373,0.042802,0.065762,0.096492,0,0,1,1249,1.0,2
141,1505,0.237137,0.433431,0.113845,0.309811,0.225431,0.252451,0.142770,0.101350,0.194261,...,0.030925,0.045212,0.059469,0.099829,0,0,0,2150,0.0,1
142,1506,0.171522,0.271263,0.091081,0.179829,0.176416,0.090956,0.125632,0.075792,0.075461,...,0.076322,0.106030,0.085179,0.125799,0,1,1,99,1.0,0
143,1524,0.286204,0.383967,0.171545,0.370416,0.285417,0.249562,0.155439,0.097689,0.102397,...,0.049702,0.061532,0.072669,0.138387,0,0,0,1694,0.0,1

In [62]:
# analysis the t-test and p-value
from scipy.stats import ttest_ind
v1 = np.random.normal(size=10)
v2 = np.random.normal(size=100)

res = ttest_ind(v1, v2).pvalue
res

0.9773348455464271

In [54]:
test_table1 = p1_spicie_cont_single
test_table2 = p2_spicie_cont_single

test_var1 = P1_Cer_names
test_var2 = P2_Cer_names

var_name_list = []
p_value_list = []

for i in range(len(test_var1)):
    var_name =  test_var1[i].split('_')[-1]
    var_name_list.append(var_name)

    var1 = test_table1[test_var1[i]]
    var2 = test_table2[test_var2[i]]

    p_value_list.append(ttest_ind(var1, var2).pvalue)

In [63]:
Cer_lip_diff_table = pd.DataFrame()
Cer_lip_diff_table['cer_lip_name'] = np.array(var_name_list)
Cer_lip_diff_table['p_value'] = np.array(p_value_list)
Cer_lip_diff_table_sort = Cer_lip_diff_table.sort_values('p_value')
Cer_lip_diff_table_sort.to_csv('../data/processed/Cer_lip_diff_table_sort.csv',index=False)

PermissionError: [Errno 13] Permission denied: '../data/processed/Cer_lip_diff_table_sort.csv'

In [60]:
Cer_lip_diff_table_sort

       cer_lip_name   p_value
39  Cer(d19:1/20:0)  0.936454
43  Cer(d19:1/24:1)  0.858354
18  Cer(d18:1/19:0)  0.586572
40  Cer(d19:1/22:0)  0.470717
48  Cer(d20:1/24:1)  0.456737
..              ...       ...
33  Cer(d18:2/23:0)  0.001944
55  Cer(m18:1/18:0)  0.001804
58  Cer(m18:1/23:0)  0.001493
31  Cer(d18:2/21:0)  0.001223
52  Cer(m18:0/23:0)  0.001038

[61 rows x 2 columns]

In [30]:
# # full-feature-data 4: point3&4 + lip_specie

# merge_key = 'Patient_ID'
# new1 = pd.merge(lip_table_specie,gene_table,on = merge_key)
# new3 = pd.merge(new1, clinc_target_2,on = merge_key)
# new3.to_csv('../data/processed/all_feature_p2_lip_specie.csv',index=False)

# print('overlapping patients:',len(set(new3['Patient_ID']))-len((new3['Patient_ID'])))

# new3

overlapping patients: 0

,Patient_ID,lip_Sph(d16:1)_27,lip_Sph(d18:1)_27,lip_Sph(d18:2)_27,lip_S1P(d16:1)_6,lip_S1P(d18:0)_6,lip_S1P(d18:1)_6,lip_S1P(d18:2)_6,lip_Cer(d18:0/16:0)_3,lip_Cer(d18:0/18:0)_3,...,gene_CDK6_Amp_2,gene_CDK6_Del_2,gene_AR_Amp_2,gene_AR_Del_2,gene_MSH2_Amp_2,gene_MSH2_Del_2,gene_TMPRSS2-ERG_fussion_2,gap_death_consent,1= death; 0=alive,gap_surv_time_class
0,1001,1.508517,-1.142981,-0.370896,1.161898,1.393186,2.439157,3.142364,2.807684,1.906719,...,0,0,0,0,0,0,1,2062,1.0,1
1,1010,0.662510,-0.169350,0.276919,-0.420598,0.890299,1.172982,0.270768,1.235381,-0.120123,...,0,0,1,0,0,0,1,655,1.0,2
2,1019,0.382097,0.034175,-0.873632,0.263159,0.442293,-0.246913,-0.094627,0.488499,-1.068774,...,0,0,0,0,0,0,0,542,1.0,0
3,1046,-0.505375,-0.856168,-0.309318,-0.876899,0.129396,-0.332582,-0.197593,1.159958,1.085276,...,0,0,0,0,0,0,1,477,1.0,0
4,1011,-0.973029,-1.221808,0.084801,1.401033,0.822457,0.869329,0.284968,0.232719,0.030465,...,0,0,0,0,0,0,1,1418,1.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,1495,0.836448,0.078052,-0.680276,-0.222538,-1.176785,-1.582970,-1.824283,0.018785,1.688315,...,0,0,0,0,0,0,0,1289,1.0,2
140,1496,0.840385,0.370737,-0.795050,-0.544087,-0.086341,-0.931198,-1.267266,-0.992808,0.144297,...,0,0,0,0,0,0,0,1249,1.0,2
141,1505,0.958798,-0.450028,0.631433,1.413756,-0.018409,-0.517109,0.988292,-1.232623,0.418946,...,0,0,0,0,0,0,0,2150,0.0,1
142,1506,-0.486482,-0.715181,-0.765942,-1.725063,-1.572528,-1.536034,-1.350552,-1.357425,-1.695333,...,0,0,0,0,0,0,0,99,1.0,0
143,1524,0.517969,0.222055,1.282967,-0.977544,-0.668532,-0.798935,-1.308465,0.653114,0.069228,...,0,0,0,0,0,0,0,1694,0.0,1