In [1]:
import pandas as pd 
import numpy as np 
import xlrd 
import sklearn

In [19]:
table_specie = pd.read_excel('../data/raw/LCMS_data_copy.xlsx',0)
table_total= pd.read_excel('../data/raw/LCMS_data_copy.xlsx',1)
lip_name_table = pd.read_excel('../data/raw/LCMS_data_copy.xlsx',4)

In [20]:
table_total['DG']

0      134944.682135
1      138743.676563
2      194241.515011
3      117722.367356
4      318427.383721
           ...
802    102006.871173
803    263965.868424
804     91190.264634
805    382395.100751
806     83430.389476
Name: DG, Length: 807, dtype: float64

In [3]:
lip_name_table

,Original name,Updated name,Class,BioGrouping,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Abreviation,old abbreviation,Lipid class
0,Sph(d16:1) Results,Sph(d16:1),Sph,1,NaN,NaN,NaN,NaN,FFA,FFA,free fatty acids
1,Sph(d18:1) Results,Sph(d18:1),Sph,1,NaN,NaN,NaN,NaN,Cer(d18:0/xx:xx),dhCer,dihydroceramide
2,Sph(d18:2) Results,Sph(d18:2),Sph,1,NaN,NaN,NaN,NaN,Cer(d18:1/xx:x),Cer,ceramide
3,S1P(d16:1) Results,S1P(d16:1),S1P,2,NaN,NaN,NaN,NaN,Hex1Cer,MHC,monohexosylceramide
4,S1P(d18:0) Results,S1P(d18:0),S1P,2,NaN,NaN,NaN,NaN,Hex2Cer,DHC,dihexosylceramide
...,...,...,...,...,...,...,...,...,...,...,...
795,LPC 20:4_OH Results,LPC(20:4) [+OH],OxSpecies,48,NaN,NaN,NaN,NaN,NaN,NaN,NaN
796,LPC 22:6_OH Results,LPC(22:6) [+OH],OxSpecies,48,NaN,NaN,NaN,NaN,NaN,NaN,NaN
797,PC 34:2_OH Results,PC(34:2) [+OH],OxSpecies,48,NaN,NaN,NaN,NaN,NaN,NaN,NaN
798,PC 36:4(a\b)_OH Results,PC(36:4) [+OH],OxSpecies,48,NaN,NaN,NaN,NaN,NaN,NaN,NaN
799,PC 38:6(a\b)_OH Results,PC(38:6) [+OH],OxSpecies,48,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
feature_list_total = (table_total.iloc[:,2:].columns.values.tolist())[1:] # id and features name
feature_list_specie = (table_specie.iloc[:,2:].columns.values.tolist())[1:] # id and features name 
name_group_link = lip_name_table[['Updated name','Class','BioGrouping']]

In [5]:
name_group_link

        Updated name      Class  BioGrouping
0         Sph(d16:1)        Sph            1
1         Sph(d18:1)        Sph            1
2         Sph(d18:2)        Sph            1
3         S1P(d16:1)        S1P            2
4         S1P(d18:0)        S1P            2
..               ...        ...          ...
795  LPC(20:4) [+OH]  OxSpecies           48
796  LPC(22:6) [+OH]  OxSpecies           48
797   PC(34:2) [+OH]  OxSpecies           48
798   PC(36:4) [+OH]  OxSpecies           48
799   PC(38:6) [+OH]  OxSpecies           48

[800 rows x 3 columns]

In [15]:
feature_list_total

['Sph',
 'S1P',
 'dhCer',
 'Cer',
 'C1P',
 'MHC',
 'DHC',
 'THC',
 'GM3',
 'GM1',
 'Sulfatide',
 'SM',
 'PA',
 'PC',
 'PC(O)',
 'PC(P)',
 'LPC',
 'LPC(O)',
 'LPC(P)',
 'PE',
 'PE(O)',
 'PE(P)',
 'LPE',
 'LPE(P)',
 'PI',
 'PIP1',
 'LPI',
 'PS',
 'PG',
 'CE',
 'COH',
 'DE',
 'FFA',
 'Acylcarnitine',
 'DG',
 'TG(SIM)',
 'TG [NL]',
 'TG(O)',
 'TG(O) [NL]',
 'Ubiquinone',
 'OxSpecies']

In [6]:
group_name_list = [name_group_link.loc[name_group_link['Updated name']==item]['Class'].values[0] for item in feature_list_specie]# get group name for each specie

In [7]:
len(group_name_list)

774

In [8]:
len(set(group_name_list)) # nunmber of total groups

41

In [9]:
group_name_dict = {}
for i,item in enumerate(set(group_name_list)):
    group_name_dict[item] = i
group_name_dict

{'PE(P)': 0,
 'PS': 1,
 'MHC': 2,
 'Sulfatide': 3,
 'FFA': 4,
 'PIP1': 5,
 'GM3': 6,
 'PA': 7,
 'Cer': 8,
 'LPE': 9,
 'CE': 10,
 'TG(SIM)': 11,
 'LPC': 12,
 'TG(O) [NL]': 13,
 'LPC(P)': 14,
 'PE': 15,
 'DE': 16,
 'Acylcarnitine': 17,
 'PE(O)': 18,
 'dhCer': 19,
 'COH': 20,
 'PC(P)': 21,
 'GM1': 22,
 'LPI': 23,
 'C1P': 24,
 'THC': 25,
 'SM': 26,
 'TG [NL]': 27,
 'S1P': 28,
 'TG(O)': 29,
 'DG': 30,
 'Ubiquinone': 31,
 'Sph': 32,
 'PI': 33,
 'PG': 34,
 'PC': 35,
 'PC(O)': 36,
 'LPC(O)': 37,
 'DHC': 38,
 'LPE(P)': 39,
 'OxSpecies': 40}

In [13]:
target_total = ['DG','Cer','TG']

In [11]:
def id_process(id):

    if id[-1] == 'C':
        # pattern 'num + C' 
        return id[:-2]
    elif id[1] == '-':
        # pattern 'P-num' 
        return id[2:]
    else:# pattern 'P num'
        return id[1:]
table_specie.iloc[:,2].apply(id_process)

0      1001
1      1010
2      1019
3      1028
4      1037
       ...
802    2395
803    2412
804    2429
805    2456
806    2493
Name: Patient ID, Length: 807, dtype: object

In [25]:
# binarize the lip feature: for each feature ,
#  if val > median, set feature_high = 1,feature_low = 0
#  else,   set feature_high = 0,feature_high = 1

table_specie_new = pd.DataFrame()
table_specie_new['Patient_ID'] = table_specie.iloc[:,2].apply(id_process)

for lip_name in feature_list_specie:
    df = table_specie[lip_name]
    # normalized_df = (df-df.min())/(df.max()-df.min())
    # normalized_df = (df-df.mean())/df.std()
    normalized_df = df.fillna(0)

    

    group_name = name_group_link.loc[name_group_link['Updated name']==lip_name]['Class'].values[0]

    if group_name in target_total:
        group_name_idx = str(group_name_dict[group_name])
        table_specie_new['lip_' + lip_name + '_' +group_name +'_'+'high'+ '_' + group_name_idx] =  (normalized_df>=normalized_df.median())*1
        table_specie_new['lip_' + lip_name + '_' +group_name +'_'+'low'+ '_' + group_name_idx] = (normalized_df<normalized_df.median())*1 

table_specie_new    
table_specie_new.to_csv('../data/processed/process_lip_specie_binary_single.csv',index=False)

In [26]:
table_total_new = pd.DataFrame()
table_total_new['Patient_ID'] = table_total.iloc[:,2].apply(id_process)

for lip_name_total in ['Cer','DG','TG(SIM)','TG [NL]','TG(O)','TG(O) [NL]']:
    df = table_total[lip_name_total]
    # normalized_df = (df-df.min())/(df.max()-df.min())
    # normalized_df = (df-df.mean())/df.std()
    normalized_df = df.fillna(0)


    # group_name = name_group_link.loc[name_group_link['Updated name']==lip_name]['Class'].values[0]

    # if group_name in target_total:
    #     # group_name_idx = str(group_name_dict[group_name])
    table_total_new['lip_' + lip_name_total + '_' +'high'] =  (normalized_df>=normalized_df.median())*1
    table_total_new['lip_' + lip_name_total + '_' +'low'] = (normalized_df<normalized_df.median())*1 

table_total_new  
table_total_new.to_csv('../data/processed/process_lip_total_binary_single.csv',index=False)

In [20]:


# table_specie_new_bi = pd.DataFrame()
# table_specie_new_bi['Patient_ID'] = table_specie_new['Patient_ID']
# feature_list = list(table_specie_new)


# for lip_name in feature_list[1:]:
#     df = table_specie_new[lip_name]
#     table_specie_new_bi[lip_name + '_high'] = (df>=df.median())*1
#     table_specie_new_bi[lip_name + '_low'] = (df<df.median())*1


# table_specie_new_bi

,Patient_ID,lip_Sph(d16:1)_high,lip_Sph(d16:1)_low,lip_Sph(d18:1)_high,lip_Sph(d18:1)_low,lip_Sph(d18:2)_high,lip_Sph(d18:2)_low,lip_S1P(d16:1)_high,lip_S1P(d16:1)_low,lip_S1P(d18:0)_high,...,lip_LPC(18:2) [+OH]_high,lip_LPC(18:2) [+OH]_low,lip_LPC(20:4) [+OH]_high,lip_LPC(20:4) [+OH]_low,lip_LPC(22:6) [+OH]_high,lip_LPC(22:6) [+OH]_low,lip_PC(34:2) [+OH]_high,lip_PC(34:2) [+OH]_low,lip_PC(36:4) [+OH]_high,lip_PC(36:4) [+OH]_low
0,1001,1,0,0,1,0,1,1,0,1,...,0,1,1,0,1,0,0,1,1,0
1,1010,1,0,1,0,1,0,0,1,1,...,1,0,1,0,1,0,1,0,1,0
2,1019,1,0,1,0,0,1,1,0,1,...,1,0,1,0,1,0,1,0,1,0
3,1028,0,1,0,1,0,1,0,1,1,...,1,0,1,0,1,0,1,0,1,0
4,1037,0,1,0,1,0,1,1,0,1,...,0,1,1,0,1,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
802,2395,1,0,0,1,0,1,0,1,0,...,1,0,1,0,0,1,1,0,1,0
803,2412,1,0,1,0,1,0,1,0,1,...,0,1,0,1,0,1,1,0,1,0
804,2429,1,0,0,1,0,1,1,0,0,...,1,0,1,0,1,0,1,0,1,0
805,2456,1,0,1,0,0,1,1,0,1,...,0,1,1,0,0,1,0,1,1,0
806,2493,1,0,0,1,1,0,0,1,0,...,1,0,1,0,1,0,0,1,1,0

In [12]:
table_specie_new.to_csv('../data/processed/process_lip_specie_binary.csv',index=False)
# table_specie_new_bi.to_csv('../processed_data/process_lip_specie_binary.csv',index=False)

In [13]:
idset = set(table_specie_new['Patient_ID'])
len(idset) # 2two overlaping id

805

805