In [2]:
import pandas as pd 
import numpy as np 
import xlrd 
import sklearn

In [4]:
gene_table = pd.read_excel('../data/raw/processed_gene_full.xlsx')
# lip_name_table = pd.read_excel('../data/raw/LCMS_data_copy.xlsx',4)

In [9]:
gene_table

,Tumor_Sample_Barcode,HDAC2_SNP,HDAC2_INS,HDAC2_DEL,MET_SNP,MET_INS,MET_DEL,MLH1_SNP,MLH1_INS,MLH1_DEL,...,ESR1_Del,CDK6_Amp,CDK6_Del,AR_Amp,AR_Del,MSH2_Amp,MSH2_Del,TMPRSS2-ERG_fussion,Patient_ID,death_event; 1- dead; 0-alive
0,PCA1901,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1001,1.0
1,PCA1902,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1003,1.0
2,PCA1903,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1004,1.0
3,PCA1904,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1005,1.0
4,PCA1905,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1006,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
274,PCA1592,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1529,0.0
275,PCA1344,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1530,0.0
276,PCA1345,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1531,0.0
277,PCA1652,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1534,0.0
278,PCA1581,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1535,0.0

In [11]:
gene_names_list = list(gene_table.columns) # id and features name
gene_names_list = gene_names_list[1:-2]
# gene_names_list

In [12]:
len(gene_names_list)

365

In [14]:
item = 'HDAC2_SNP'
item.split('_')[0]

'HDAC2'

In [15]:
group_name_list = [item.split('_')[0] for item in gene_names_list]# get group name for each specie

In [19]:
group_name_set = set(group_name_list)

In [30]:
group1 = ['BAP1','FBXW7','AKT1','TP53','TSC2','CDKN2A']
group2 = ['BRCA1','RB1','AKT','CDK4','PRKD1','PDGFRA','IDH1','FGFR3','MTOR','KIT'] # duplicate 'FBXW7' in two groups

In [32]:
for item in group1:
    print(item, item in group_name_set)

BAP1 True
FBXW7 True
AKT1 False
TP53 True
TSC2 True
CDKN2A False

In [33]:
for item in group2:
    print(item, item in group_name_set)

BRCA1 True
RB1 True
AKT False
CDK4 False
PRKD1 False
PDGFRA True
IDH1 False
FGFR3 True
MTOR True
KIT True

In [38]:
table_gene_new = pd.DataFrame()
table_gene_new['Patient_ID'] = gene_table['Patient_ID']

for gene_name in gene_names_list:
    df = gene_table[gene_name]

    gene_group_name = gene_name.split('_')[0]
    group_name = '2'
    if gene_group_name in group1:
        group_name = '0'
    elif gene_group_name in group2:
        group_name = '1'
    table_gene_new['gene_' + gene_name + '_' + group_name] = df.fillna(0)
table_gene_new

,Patient_ID,gene_HDAC2_SNP_2,gene_HDAC2_INS_2,gene_HDAC2_DEL_2,gene_MET_SNP_2,gene_MET_INS_2,gene_MET_DEL_2,gene_MLH1_SNP_2,gene_MLH1_INS_2,gene_MLH1_DEL_2,...,gene_FGFR2_Del_2,gene_ESR1_Amp_2,gene_ESR1_Del_2,gene_CDK6_Amp_2,gene_CDK6_Del_2,gene_AR_Amp_2,gene_AR_Del_2,gene_MSH2_Amp_2,gene_MSH2_Del_2,gene_TMPRSS2-ERG_fussion_2
0,1001,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,1003,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1004,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,1005,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1006,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
274,1529,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
275,1530,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
276,1531,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
277,1534,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
278,1535,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [41]:
table_gene_new.to_csv('../data/processed/process_gene_new.csv',index=False)
# table_specie_new_bi.to_csv('../processed_data/process_lip_specie_binary.csv',index=False)

In [49]:
idset = set(table_specie_new['Patient_ID'])

In [50]:
len(idset) # 2two overlaping id

805