In [1]:
import pandas as pd 
import numpy as np 
import xlrd 
import sklearn

In [12]:
clinc_table1 = pd.read_csv('../data/processed/process_clin_1.csv')
clinc_table2 = pd.read_csv('../data/processed/process_clin_2.csv')
clinc_table3 = pd.read_csv('../data/processed/process_clin_1_and_2.csv')

# gene_table = pd.read_csv('../data/processed/process_gene_pathway_can100_66.csv')
# gene_table = pd.read_csv('../data/processed/process_gene_pathway_dise100_66.csv')
gene_table = pd.read_csv('../data/processed/process_gene_pathway_manish.csv')

In [13]:
# lip_table_specie = pd.read_csv('../data/processed/process_lip_group_binary_v1.csv')
# lip_table_specie = pd.read_csv('../data/processed/process_lip_group_binary_v2.csv')
# lip_table_specie = pd.read_csv('../data/processed/process_lip_group_v3.csv')
lip_table_specie = pd.read_csv('../data/processed/process_lip_group_v4.csv')

In [14]:

# some patients have duplicate gene-test results
print('# duplicate gene samples is',len(set(gene_table['Patient_ID']))-len((gene_table['Patient_ID'])))

# duplicate gene samples is -29

In [15]:
gene_table # # num of gene feature: 100

,Patient_ID,pathway,gene_AR,gene_PTEN,gene_APC,gene_RB1,gene_ARID1A,gene_MYC,gene_BRAF,gene_SPOP,gene_CDK6,gene_ATR,gene_CTNNB1,gene_NF1,gene_PIK3CA,gene_EGFR
0,1001,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,1003,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
2,1004,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,1005,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0
4,1006,1,1,1,0,1,0,0,1,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
274,1529,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0
275,1530,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0
276,1531,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
277,1534,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
278,1535,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [17]:
# drop the duplicate term, only use the first one
gene_table= gene_table.drop_duplicates(subset=['Patient_ID'],keep='first')
print('# duplicate gene samples is',len(set(gene_table['Patient_ID']))-len((gene_table['Patient_ID'])))

# duplicate gene samples is 0

In [26]:
# not use clic feafures

# samples at point1: normalize the clinic numerical features, except the time_gap, live/death label temporaly, we will add them at the end of merged all future
# clinc_table1_new = pd.DataFrame()

# clinc_table1_new['Patient_ID'] = clinc_table1['Patient_ID']
# num_feature_list = ['sdms psa at sample 1','sdms ldh at sample 1','BMI at time of collection']

# for name in num_feature_list:
#     df = clinc_table1[name]
#     clinc_table1_new['clin_' + name] = (df-df.min())/(df.max()-df.min())
# clinc_table1_new

# number of numerical features for samples at point3&4: 5

In [18]:
# targets for samples at point1:
clinc_target_1 = pd.DataFrame()

clinc_target_1['Patient_ID'] = clinc_table1['Patient_ID']
num_feature_list = ['ADT_start_fail','ADT_fail_relaspe','ADT_start_death','1= death; 0=alive','gap_death_consent','gap_surv_time_class','ADT_if_fail']

for name in num_feature_list:
    clinc_target_1[name] = clinc_table1[name]

clinc_target_1

,Patient_ID,ADT_start_fail,ADT_fail_relaspe,ADT_start_death,1= death; 0=alive,gap_death_consent,gap_surv_time_class,ADT_if_fail
0,1015,NaN,NaN,3039.0,0.0,3053,1,0
1,1027,NaN,NaN,959.0,1.0,959,0,0
2,1028,1734.0,54.0,3208.0,1.0,3219,1,2
3,1040,NaN,NaN,2323.0,0.0,2323,1,0
4,1048,897.0,67.0,2035.0,1.0,2073,2,2
...,...,...,...,...,...,...,...,...
94,1528,NaN,NaN,1472.0,1.0,1466,2,0
95,1530,NaN,NaN,34.0,0.0,1,0,0
96,1531,NaN,NaN,141.0,0.0,174,0,0
97,1532,NaN,NaN,1524.0,0.0,1694,2,0
98,1533,322.0,NaN,957.0,1.0,957,0,2

In [28]:
# do nit use clic features

# # samples at point3&4: normalize the clinic numerical features, except the time_gap, live/death label temporaly, we will add them at the end of merged all future
# clinc_table2_new = pd.DataFrame()

# clinc_table2_new['Patient_ID'] = clinc_table2['Patient_ID']
# num_feature_list =  ['sdms psa at sample 1','sdms ldh at sample 1','sdms alk phos at sample 1','BMI at time of collection','Gleason Score at diagnosis']

# for name in num_feature_list:
#     df = clinc_table2[name]
#     clinc_table2_new['clin_' + name] = (df-df.min())/(df.max()-df.min())
# clinc_table2_new

# number of numerical features for samples at point3&4: 7

In [19]:
# targets for samples at point3%4:
clinc_target_2 = pd.DataFrame()

clinc_target_2['Patient_ID'] = clinc_table2['Patient_ID']
num_feature_list = ['gap_death_consent','1= death; 0=alive','gap_surv_time_class']

for name in num_feature_list:
    clinc_target_2[name] = clinc_table2[name]

clinc_target_2

     Patient_ID  gap_death_consent  1= death; 0=alive  gap_surv_time_class
0          1001               2062                1.0                    1
1          1002                524                1.0                    0
2          1003                208                1.0                    0
3          1004               2390                1.0                    1
4          1005                286                1.0                    0
..          ...                ...                ...                  ...
245        1517                145                1.0                    0
246        1519                752                1.0                    2
247        1520               1341                1.0                    2
248        1524               1694                0.0                    1
249        1525                  8                0.0                    0

[250 rows x 4 columns]

In [20]:
lip_table_specie.shape # num of lip_group feature: 82(binary), 41(continues)

(807, 42)

In [22]:
# full-feature-data 2: point1 + lip_specie

merge_key = 'Patient_ID'
new1 = pd.merge(lip_table_specie,gene_table,on = merge_key)
# new2 = pd.merge(new1, clinc_table1_new,on = merge_key)
new3 = pd.merge(new1, clinc_target_1,on = merge_key)

print('overlapping patients:',-len(set(new3['Patient_ID']))+len((new3['Patient_ID'])))

# new3.to_csv('../data/processed/all_feature_p1_lip_group_binary_v1.csv',index=False)
# new3.to_csv('../data/processed/all_feature_p1_lip_group_binary_v2.csv',index=False)
# new3.to_csv('../data/processed/all_feature_p1_lip_group_v3.csv',index=False)
# new3.to_csv('../data/processed/all_feature_p1_lip_pathway_can100_66.csv',index=False)
# new3.to_csv('../data/processed/all_feature_p1_lip_pathway_dise100_66.csv',index=False)
new3.to_csv('../data/processed/all_feature_p1_lip_pathway_manish.csv',index=False)


new3

overlapping patients: 0

,Patient_ID,lip_PIP1,lip_TG(O),lip_COH,lip_LPE,lip_PG,lip_DHC,lip_LPE(P),lip_Cer,lip_PE(O),...,gene_NF1,gene_PIK3CA,gene_EGFR,ADT_start_fail,ADT_fail_relaspe,ADT_start_death,1= death; 0=alive,gap_death_consent,gap_surv_time_class,ADT_if_fail
0,1028,0.221156,0.143443,0.664108,0.300224,0.114088,0.391907,0.193890,0.111794,0.069871,...,0,0,0,1734.0,54.0,3208.0,1.0,3219,1,2
1,1066,0.585161,0.220979,0.503832,0.275333,0.131489,0.399272,0.061292,0.184457,0.336905,...,0,0,0,NaN,NaN,NaN,0.0,2464,1,0
2,1040,0.491363,0.235006,0.548196,0.431067,0.202474,0.441356,0.242844,0.177536,0.175331,...,0,0,0,NaN,NaN,2323.0,0.0,2323,1,0
3,1058,0.597258,0.287230,0.468387,0.199827,0.107251,0.333641,0.051627,0.142273,0.143312,...,0,0,0,318.0,0.0,581.0,1.0,581,0,2
4,1059,0.371068,0.070425,0.521582,0.373138,0.183247,0.342459,0.059559,0.206067,0.168735,...,0,0,0,NaN,NaN,2608.0,0.0,2608,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66,1530,0.375880,0.153091,0.675349,0.455237,0.158005,0.599901,0.107447,0.400319,0.285315,...,0,0,0,NaN,NaN,34.0,0.0,1,0,0
67,1531,0.169312,0.203539,0.513139,0.375381,0.130625,0.551979,0.118416,0.173399,0.306597,...,0,0,0,NaN,NaN,141.0,0.0,174,0,0
68,1522,0.647569,0.218004,0.588286,0.428657,0.214242,0.587916,0.171252,0.355203,0.414831,...,0,0,0,NaN,NaN,3750.0,1.0,706,0,0
69,1514,0.422382,0.139756,0.452994,0.445815,0.165137,0.427664,0.127677,0.117745,0.265606,...,0,0,0,2355.0,NaN,3453.0,1.0,1098,0,2
70,1497,0.509006,0.201300,0.325368,0.257133,0.237292,0.268861,0.065845,0.215971,0.350215,...,0,0,0,NaN,NaN,911.0,1.0,911,0,0

In [ ]:
365(gene)+
774(lip_spicie)
+1 (ID)
+7(target)
= 1147

In [30]:
# # full-feature-data 4: point3&4 + lip_specie

# merge_key = 'Patient_ID'
# new1 = pd.merge(lip_table_specie,gene_table,on = merge_key)
# new3 = pd.merge(new1, clinc_target_2,on = merge_key)
# new3.to_csv('../data/processed/all_feature_p2_lip_specie.csv',index=False)

# print('overlapping patients:',len(set(new3['Patient_ID']))-len((new3['Patient_ID'])))

# new3

overlapping patients: 0

,Patient_ID,lip_Sph(d16:1)_27,lip_Sph(d18:1)_27,lip_Sph(d18:2)_27,lip_S1P(d16:1)_6,lip_S1P(d18:0)_6,lip_S1P(d18:1)_6,lip_S1P(d18:2)_6,lip_Cer(d18:0/16:0)_3,lip_Cer(d18:0/18:0)_3,...,gene_CDK6_Amp_2,gene_CDK6_Del_2,gene_AR_Amp_2,gene_AR_Del_2,gene_MSH2_Amp_2,gene_MSH2_Del_2,gene_TMPRSS2-ERG_fussion_2,gap_death_consent,1= death; 0=alive,gap_surv_time_class
0,1001,1.508517,-1.142981,-0.370896,1.161898,1.393186,2.439157,3.142364,2.807684,1.906719,...,0,0,0,0,0,0,1,2062,1.0,1
1,1010,0.662510,-0.169350,0.276919,-0.420598,0.890299,1.172982,0.270768,1.235381,-0.120123,...,0,0,1,0,0,0,1,655,1.0,2
2,1019,0.382097,0.034175,-0.873632,0.263159,0.442293,-0.246913,-0.094627,0.488499,-1.068774,...,0,0,0,0,0,0,0,542,1.0,0
3,1046,-0.505375,-0.856168,-0.309318,-0.876899,0.129396,-0.332582,-0.197593,1.159958,1.085276,...,0,0,0,0,0,0,1,477,1.0,0
4,1011,-0.973029,-1.221808,0.084801,1.401033,0.822457,0.869329,0.284968,0.232719,0.030465,...,0,0,0,0,0,0,1,1418,1.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,1495,0.836448,0.078052,-0.680276,-0.222538,-1.176785,-1.582970,-1.824283,0.018785,1.688315,...,0,0,0,0,0,0,0,1289,1.0,2
140,1496,0.840385,0.370737,-0.795050,-0.544087,-0.086341,-0.931198,-1.267266,-0.992808,0.144297,...,0,0,0,0,0,0,0,1249,1.0,2
141,1505,0.958798,-0.450028,0.631433,1.413756,-0.018409,-0.517109,0.988292,-1.232623,0.418946,...,0,0,0,0,0,0,0,2150,0.0,1
142,1506,-0.486482,-0.715181,-0.765942,-1.725063,-1.572528,-1.536034,-1.350552,-1.357425,-1.695333,...,0,0,0,0,0,0,0,99,1.0,0
143,1524,0.517969,0.222055,1.282967,-0.977544,-0.668532,-0.798935,-1.308465,0.653114,0.069228,...,0,0,0,0,0,0,0,1694,0.0,1

In [55]:
# # full-feature-data 5: point 1 and 3&4 + lip_total

# merge_key = 'Patient_ID'
# new1 = pd.merge(lip_table_total,gene_table_new,on = merge_key)
# new2 = pd.merge(new1, clinc_table3_new,on = merge_key)

# # add time-gap feature & dead/live label 
# new2['gap_death_consent'] = clinc_table3['gap_death_consent']
# new2['1= death; 0=alive'] = clinc_table3['1= death; 0=alive']
# new2['gap_surv_time_class'] =  clinc_table3['gap_surv_time_class']
# new2.to_csv('../processed_data/all_feature_p1_and_2_lip_total_binary_lip.csv',index=False)
# new2

In [56]:
# # full-feature-data 6: point 1 and 3&4 + lip_specie

# merge_key = 'Patient_ID'
# new1 = pd.merge(lip_table_specie,gene_table_new,on = merge_key)
# new2 = pd.merge(new1, clinc_table3_new,on = merge_key)

# # add time-gap feature & dead/live label 
# new2['gap_death_consent'] = clinc_table3['gap_death_consent']
# new2['1= death; 0=alive'] = clinc_table3['1= death; 0=alive']
# new2['gap_surv_time_class'] =  clinc_table3['gap_surv_time_class']
# new2.to_csv('../processed_data/all_feature_p1_and_2_lip_specie_binary_lip.csv',index=False)
# new2